{% extends 'base.html'%}
{% block sidebar %}
{% include 'SPCsidebar.html'%}
{% endblock %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1 class="mt-5 h2">Graduated Students List</h1>
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
    <a href="{% url 'Grad_form' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add New</a>
    {% endif %}
    <br>
    <form action="">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" name="q" placeholder="Search based on Full Name , Specialization , university ,profile (company name etc ) and Role" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
        </form>
        <table class="mt-4 table table-bordered border-dark">
            <thead class="table-dark">
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Graduation</th>
                    <th scope="col">University Deatils</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Profile Details</th>
                    <th scope="col">Role</th>
                    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    {% endif %}




                    
                    

                    
                    
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for list in GradList %}
                <tr>
                    
                  
                    
                    <td>{{list.Full_name}}</td>
                    <td>{{list.Date_of_Grad}}</td>
                    <td>{{list.University}}</td>
                    <td>{{list.Specialization}}</td>
                    <td>{{list.Current_profile_details}}</td>
                    <td>{{list.Role}}</td>
                    
                    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
                    <td>
                       <a href="{% url 'Gradupdate' list.id %}" class="btn text secondary px-0">
                        <i class="bi bi-pencil-square"></i>
                       </a>
                    </td>
                    <td>
                    <form action="{% url 'Graddel' list.id %}" method="post" onsubmit = "return confirm('Are you sure you want to delete?')">
                        {% csrf_token %}
                        <button type="'submit" class="btn">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                    </td>
                   {% endif %}
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}