<head>
  <style>
    div#content {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrafZuG0Bd3t48iCa35PHQC6td-v_37pvTtzdKOQwlAHcw5xAt0z7YnkEs9bscATjdXgw&usqp=CAU');background-repeat: no-repeat;
  
  background-size: cover;
  opacity :0.2"
    }
  </style>
</head>
{% include 'base.html'%}
<main style="color:white" class="col-md-0 ms-sm-auto col-lg-0 px-md-4">
  <div id =content>
    <div class="container px-4 py-5">
        <h2 class="fw-bold border-bottom">Placement Management and Analysis System</h2>
    
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="col d-flex flex-column align-items-start gap-2">
            <h3 class="fw-bold border-bottom">About Us</h3>
            <h5 style="font-style:italic">"Welcome to our placement management and analysis system, a comprehensive platform designed to assist students and faculty coordinators in managing and tracking information related to internships, placements, and higher education opportunities. Our system allows students to easily update their own information, and provides faculty coordinators with powerful tools for generating reports, exporting data in excel format, and viewing statistics on placement outcomes. With our system, you can easily import data through excel files, and stay up-to-date on the status of graduated students. We are committed to helping you navigate the placement process with ease and success."</p>
            
          </div>
    
          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 border-bottom">Student Management and Attendence</h4>
                <p > This feature allows  to add, edit, and delete student information, including details on internships, placements, and higher education opportunities.This allows the student SPC to mark  attendance, and for the faculty coordinators to view and manage the attendance records and send the same to respective faculties .  </p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#gear-fill" />
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 border-bottom">Reporting and Data Export</h4>
                <p > This feature provides faculty coordinators with powerful tools for generating reports, and exporting data in excel format. This feature allows faculty coordinators to easily view statistics on placement outcomes, and to share this data with other stakeholders.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#speedometer" />
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 border-bottom">Graduated Student Tracking</h4>
                <p >This feature allows the system to track the status of graduated students, including their job profiles and higher education details. This feature helps to ensure that the placement office has a complete and accurate picture of the career outcomes of its alumni.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 border-bottom">Data Import</h4>
                <p >This feature allows the system to import data from excel files, making it easy to upload large amounts of data into the system. This feature aims to streamline the data entry process, and to ensure that the system has the most up-to-date information.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
          
     
        

</div>
    </div>
</main>